body {
    margin: 0px;
}

.imglogo {
    margin-left: 120px;
}

header {
    background-color: #bbbbbb;
}

header li {
    display: inline;
}

header nav {
    float: right;
    vertical-align: top;
    margin-top: 95px;
    margin-right: 120px;
}

.table {
    display: table;
    border-spacing: 20px;
    width: 910;
    margin-left: auto;
    margin-right: auto;
}

.tablerow {
    display: table-row;
}

.tablecell {
    display: table-cell;
    border: solid 2px black;
    border-radius: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    padding: 10px;
    width: 210px;
}

.celldescricao {
    font-size: 19px;
    font-weight: lighter;
}

.tablecell p {
    margin: 10px;
}
